<header class="headRow">
    <div class="head">
        <h4><a class="logoBtn" href="/">Shopo</a></h4>
    </div>
    <div class="userControls">
        <% if(currentUser !== "") { %> 
            <span class="userName">
                <%= currentUser %>
                <div class="optionsMenu">
                    <ul class="optionsList">
                        <li><a href="#">My Orders</a></li>
                        <li><a href="/cart/view">My Cart</a></li>
                        <li><a href="/user/logout">Logout</a></li>
                    </ul>
                </div>
            </span>
        <% } else { %>
            <span>
            <a href="/user/login"><button class="actionBtn"><%= definedControl %></button></a>
            </span>
        <% } %>
    </div>
</header>