<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit = no">
    <title>Shopo</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
    <%- include('partials/header',{
        currentUser : activeUser,
        definedControl : definedControl,
    }) %>
    <div class="myContainer">
        <%- include('partials/allProducts',{
            prods : prods
        }) %>
        <div class="loadMore">
            <a href="/?page=<%= page %>"><button class="actionBtn">Load More...</button></a>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>
