<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../css/form.css">
</head>

<body>
    <div class="container" style="height: 300px;">
        <div class="header">
            <h4>Verify to Continue</h4>
        </div>
        <div class="body">
                <div class="form-group">
                    <input class="input-field" type="hidden" name="userToken" id="userToken" value="<%= token %>">
                </div>
                <div class="form-group">
                    <label for="name">Email Id</label>
                    <input class="input-field" type="email" name="userEmail" id="userEmail" value="<%= emailId %>" readonly>
                </div>
                <div class="form-group">
                    <input class="btn" type="button" value="Please verify to continue" disabled>
                </div>
            
        </div>
    </div>
</body>

</html>